.content {
    background-color: rgb(188, 141, 233);
    padding: 5vh 20vw;
}

.content  * {
    font-family: 'Cute Font', cursive;
    display: flex;
    justify-content: center;
}

.content p {
    font-size: 24px;
}

.catsStats {
    display: flex;
    align-items: center;
}

.spotlight {
    padding: 10px 5px;
    color: aqua;
    border: 3px dotted white;
    border-radius: 50%;
}

.countryName {
    color: aqua;
    font-size:x-large;
}
